{% extends "base.html.twig" %}
{% block title %}Lista de productos{% endblock %}
{% block cssInline %}
    <style>
        table{
            white-space:nowrap;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid" id="app">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Listado de productos</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th width="100px">Funcions</th>
                            <th>Id</th>
                            <th>Codigo de barras</th>
                            <th>Codigo de producto</th>
                            <th>Nombre</th>
                            <th>Descuento</th>
                            <th>Precio de compra</th>
                            <th>PVP</th>
                            <th>Cantidad/pack</th>
                            <th>Categoria</th>
                            <th>Stock</th>
                            <th>Aviso de stock</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th width="100px">Funcions</th>
                            <th>Id</th>
                            <th>Codigo de barras</th>
                            <th>Codigo de producto</th>
                            <th>Nombre</th>
                            <th>Descuento</th>
                            <th>Precio de compra</th>
                            <th>PVP</th>
                            <th>Cantidad/pack</th>
                            <th>Categoria</th>
                            <th>Stock</th>
                            <th>Aviso de stock</th>
                        </tr>
                        </tfoot>
                        <tbody id="app">
                        <tr v-for="producte in productes">
                            <td>
                                <span class=" d-flex justify-content-center align-items-center">
                                    <span class="mr-1" @click="eliminar(producte.id)"><span class="btn btn-danger btn-circle"><i class="fas fa-fw fa-trash"></i></span></span>
                                    <span class="ml-1" @click="seleccionar(producte.id)" data-toggle="modal" data-target="#exampleModalCenter"><span class="btn btn-info btn-circle"><i class="fas fa-fw fa-edit"></i></span></span>
                                </span>
                            </td>
                            <td>{{"{{ producte.id }}"}}</td>
                            <td>{{"{{ producte._codigo__barra }}"}}</td>
                            <td>{{"{{ producte._codigo__producto }}"}}</td>
                            <td>{{"{{ producte._nombre__producto }}"}}</td>
                            <td>{{"{{ producte._descuento__producto }}"}}</td>
                            <td>{{"{{ producte._precio__compra }}"}}</td>
                            <td>{{"{{ producte._pvp }}"}}</td>
                            <td>{{"{{ producte._cantidad__pack }}"}}</td>
                            <td>{{"{{ producte._categoria }}"}}</td>
                            <td>{{"{{ producte._stock }}"}}</td>
                            <td>{{"{{ producte._aviso__stock }}"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Editar producto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Codigo barra</label>
                                    <input type="text" v-model="productoSelecte._codigo__barra" class="form-control mb-1">
                                </div>
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Codigo producto</label>
                                    <input type="text" v-model="productoSelecte._codigo__producto" class="form-control mb-1">
                                </div>
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Nombre</label>
                                    <input type="text" v-model="productoSelecte._nombre__producto" class="form-control mb-1">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Precio de compra</label>
                                    <input type="text" v-model="productoSelecte._precio__compra" class="form-control mb-1">
                                </div>
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">PVP</label>
                                    <input type="text" v-model="productoSelecte._pvp" class="form-control mb-1">
                                </div>
                                <div class="col-sm-4 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Descuento</label>
                                    <input type="text" v-model="productoSelecte._descuento__producto" class="form-control mb-1">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Categoria</label>
                                    <input type="text" v-model="productoSelecte._categoria" class="form-control mb-1">
                                </div>
                                <div class="col-sm-3 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Candidad por pack</label>
                                    <input type="text" v-model="productoSelecte._cantidad__pack" class="form-control mb-1">
                                </div>
                                <div class="col-sm-3 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Stock</label>
                                    <input type="text" v-model="productoSelecte._stock" class="form-control mb-1">
                                </div>
                                <div class="col-sm-3 mb-2 mb-sm-0">
                                    <label class="font-weight-bolder text-label">Aviso de stock</label>
                                    <input type="text" v-model="productoSelecte._aviso__stock" class="form-control mb-1">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" @click="guardar(productoSelecte.id)" class="btn btn-primary" data-dismiss="modal">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customjs %}
    <script type="module" src="/build/js/config.js"></script>
    <script type="module" src="/build/js/lists/listProducVue.js"></script>
{% endblock %}
